@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .font-roboto-slab {
    font-family: "Roboto Slab", sans-serif;
  }

  .font-lato {
    font-family: "Lato", sans-serif;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  .btn {
    font-family: "Lato", sans-serif;
    @apply py-4 px-10 w-full md:w-max font-bold text-base md:text-lg text-center cursor-pointer;
  }

  .btn.btn-primary,.btn.btn-accent,.btn.btn-neutral {
    color: white;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
